
.navbar
{
  background-color: darkorchid;
  color: white;
}

.navbar-text
{
  color: white;
}

.container
{
  visibility: visible;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 5%;
}

.choices-container
{
  width: 50%;
  font: 24px;
  margin: 20px;
  background-color: darkorchid;
  color: white;
  text-align: center;
  border: 5px solid rgba(0, 0, 0, 0.1);
}

.choices-container:hover
{
  cursor: pointer;
  background-color: orchid;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.choice-text
{
  width: 100%;
}

.banner hr
{
  width: 70%;
  margin: auto;
}

.banner
{
  width: 60%;
  margin: auto;
  visibility: hidden;
}

.correct
{
 visibility: hidden;
}

.wrong
{
 visibility: hidden;
}

.end-game
{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding-top: 5%;
  visibility: hidden;
  margin-top: -500px;
}