body
{
  height: 100vh;
  background-color: white;
}

.navbar
{
  background-color: darkorchid;
  color: white;
}

.navbar-text
{
  color: white;
}

.btn
{
  background-color: darkorchid;
  color: white;
}

.start-game
{
  display: inline;
}

#high-score-list
{
  list-style: none;
  padding-left: 0;
  margin-bottom: 50px;
  margin-top: 50px;
}
